[submodule "compact_enc_dec"]
	path = 3rdparty/ced
	url = ../compact_enc_det
[submodule "aubio"]
	path = 3rdparty/aubio
	url = ../aubio
[submodule "nlohmann-json"]
	path = 3rdparty/json
	url = ../json