[bB]uild*
CMakeLists.txt.user*
*~
*.mo
dylibbundler.log
performous-app-build.sh
osx-utils/out
osx-utils/Performous.dmg
osx-utils/CMakeCache.txt
CMakeCache.txt
CMakeFiles
*.xcodeproj
/.semaphore/keys-secret.yml
.vs