[Desktop Entry]
Encoding=UTF-8
Name=Performous
Comment=A karaoke game
Comment[de]=Ein Karaoke Spiel
Comment[ro]=Un joc de tip karaoke
Comment[fr]=Un jeu de Karaoké
Exec=performous
Icon=performous.xpm
Terminal=false
Type=Application
Categories=Application;Game;ArcadeGame;
