[Desktop Entry]
Type=Application
Name=Performous
Comment=A karaoke game
Comment[de]=Ein Karaoke-Spiel
Comment[es]=Un juego de karaoke
Comment[fi]=Karaokepeli
Comment[fr]=Un jeu de Karaoké
Comment[it]=Un gioco di karaoke
Comment[ro]=Un joc de tip karaoke
Comment[se]=Ett karaoke-spel
Icon=performous
Exec=performous
Terminal=false
Categories=Game;ArcadeGame;
Keywords=game;song;music;dance;karaoke;microphone;sound;singing;
