name: Build Linux Packages

on:
  # Run when called from other workflows only
  workflow_call:
    inputs:
      package_complete_version:
        description: 'The output of the complete_version of the "determine_version" job from the build_and_release.yml workflow'
        required: true
        type: string
      release_id:
        description: 'The output of the "create_release" job from the build_and_release.yml workflow'
        required: true
        type: string

env:
  REGISTRY: ghcr.io

jobs:
  # Decide if we need to build the containers on this run
  determine_docker_version:
    name: Determine whether to build the containers or not
    runs-on: ubuntu-latest
    outputs:
      build_docker_containers: ${{ steps.version.outputs.build_docker_containers }}
      build_debian_containers: ${{ steps.version.outputs.build_debian_containers }}
      build_ubuntu_containers: ${{ steps.version.outputs.build_ubuntu_containers }}
      build_fedora_containers: ${{ steps.version.outputs.build_fedora_containers }}
      REPO_OWNER: ${{ steps.get_repo_username.outputs.REPO_OWNER }}
    steps:
      - name: Get docker repo name (format to lowercase)
        id: get_repo_username
        run: |
          REPO_OWNER=${{ github.repository_owner }}
          echo "REPO_OWNER=${REPO_OWNER,,}" >> $GITHUB_OUTPUT

      - name: Checkout
        id: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Determine version
        id: version
        run: |
          # Only run the container builds when something in the docker folder or
          # this workflow has changed from master, or if it was cron triggered
          if [[ '${{ github.event_name }}' == 'push' ]]; then
            base_version='${{ github.event.before }}'
          else
            base_version='origin/master'
          fi
          DIFF_YML=$((git rev-parse HEAD:.github/workflows/linux.yml && git diff --merge-base ${base_version} --exit-code -- .github/workflows/linux.yml) > /dev/null 2>&1 ; echo $?)
          if [[ $DIFF_YML != 0 || '${{ github.event_name }}' == 'schedule' ]]; then
            echo "Refresh all containers: TRUE"
            echo "build_docker_containers=true" >> $GITHUB_OUTPUT
          else
            echo "Refresh all containers: FALSE"
            echo "build_docker_containers=false" >> $GITHUB_OUTPUT
          fi

          DIFF_UBUNTU=$((git rev-parse HEAD:docker/Dockerfile.ubuntu HEAD:docker/build_performous.sh && git diff --merge-base ${base_version} --exit-code -- docker/Dockerfile.ubuntu docker/build_performous.sh) > /dev/null 2>&1 ; echo $?)
          DIFF_DEBIAN=$((git rev-parse HEAD:docker/Dockerfile.debian HEAD:docker/build_performous.sh && git diff --merge-base ${base_version} --exit-code -- docker/Dockerfile.debian docker/build_performous.sh) > /dev/null 2>&1 ; echo $?)
          DIFF_FEDORA=$((git rev-parse HEAD:docker/Dockerfile.fedora HEAD:docker/build_performous.sh && git diff --merge-base ${base_version} --exit-code -- docker/Dockerfile.fedora docker/build_performous.sh) > /dev/null 2>&1 ; echo $?)

          if [[ $DIFF_UBUNTU != 0 ]]; then
            echo "Refresh Ubuntu containers: TRUE"
            echo "build_ubuntu_containers=true" >> $GITHUB_OUTPUT
          else
            echo "Refresh Ubuntu containers: FALSE"
            echo "build_ubuntu_containers=false" >> $GITHUB_OUTPUT
          fi

          if [[ $DIFF_FEDORA != 0 ]]; then
            echo "Refresh FEDORA containers: TRUE"
            echo "build_fedora_containers=true" >> $GITHUB_OUTPUT
          else
            echo "Refresh FEDORA containers: FALSE"
            echo "build_fedora_containers=false" >> $GITHUB_OUTPUT
          fi

          if [[ $DIFF_DEBIAN != 0 ]]; then
            echo "Refresh DEBIAN containers: TRUE"
            echo "build_debian_containers=true" >> $GITHUB_OUTPUT
          else
            echo "Refresh DEBIAN containers: FALSE"
            echo "build_debian_containers=false" >> $GITHUB_OUTPUT
          fi
  build_packages:
    name: Build the Linux packages
    runs-on: ubuntu-latest
    needs:
      - determine_docker_version
    strategy:
      matrix:
        include:
          - os: ubuntu
            version: 20.04
          - os: ubuntu
            version: 22.04
          - os: ubuntu
            version: 24.04
          - os: debian
            version: 12
          - os: fedora
            version: 36
          - os: fedora
            version: 37
          - os: fedora
            version: 38
          - os: fedora
            version: 39
          - os: fedora
            version: 40
          - os: fedora
            version: 41
          - os: fedora
            version: 42
    steps:
      - name: Container name
        run: |
          # Figure out the container name we'll use for the build
          BUILD_CONTAINER=${{ env.REGISTRY }}/${{ needs.determine_docker_version.outputs.REPO_OWNER }}/deps:${{ matrix.os }}-${{ matrix.version }}
          echo "CONTAINER_NAME=${BUILD_CONTAINER}" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to the container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ needs.determine_docker_version.outputs.REPO_OWNER }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build ${{ matrix.os }} ${{ matrix.version }} Container
        if: needs.determine_docker_version.outputs[format('build_{0}_containers', matrix.os)] == 'true' || needs.determine_docker_version.outputs['build_docker_containers'] == 'true'
        uses: docker/build-push-action@v5
        with:
          context: docker/
          file: ./docker/Dockerfile.${{ matrix.os }}
          load: true
          tags: ${{ env.CONTAINER_NAME }} 
          build-args: OS_VERSION=${{ matrix.version }}

      - name: Build package
        run: |
          # Pull in our common build functions
          . .github/workflows/build_functions.sh
          # Set the correct version in cmake
          PACKAGE_VERSION=${{ inputs.package_complete_version }}
          EXTRA_CMAKE_ARGS="-DPERFORMOUS_VERSION=${PACKAGE_VERSION}"
          PERFORMOUS_RELEASE_TYPE="RelWithDebInfo"
          
          # Only pull the container if it wasn't built locally
          if [ '${{ needs.determine_docker_version.outputs.build_docker_containers }}' = 'false' ]; then
            docker pull ${{ env.CONTAINER_NAME }}
          fi

          # Run the build inside the docker containers using the
          # build script that was pulled inside during the build
          docker run --env EXTRA_CMAKE_ARGS --rm -v $(pwd):/github_actions_build/ ${{ env.CONTAINER_NAME }}   ./build_performous.sh -g -D /github_actions_build/ -E ${EXTRA_CMAKE_ARGS} -R ${PERFORMOUS_RELEASE_TYPE}

          # Provided by the common build functions
          package_name "$(pwd)/build" "Performous*-Linux.*" "${PACKAGE_VERSION}" "${{ matrix.os }}" "${{ matrix.version }}"

      - name: Run unit tests
        run: |
          # Run the containers with the script for each testing suite
          docker run --rm -v $(pwd):/github_actions_build/ ${{ env.CONTAINER_NAME }} ./run_tests.sh

      # Upload artifacts during pull-requests
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        if: ${{ github.event_name == 'pull_request' }}
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ env.ARTIFACT_PATH }}

      # Upload artifacts on master
      - name: Upload artifact with unified name
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.MASTER_ARTIFACT_NAME }}
          path: ${{ env.MASTER_ARTIFACT_PATH }}

      # Upload artifacts to releases only during Release events
      - name: Upload artifacts to tagged release
        id: upload_assets
        if: ${{ github.event_name != 'pull_request' && github.ref_type == 'tag' }}
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_id: ${{ inputs.release_id }}
          file: ${{ env.ARTIFACT_PATH }}

      - name: Push container
        uses: docker/build-push-action@v5
        # Containers can't be pushed during PRs because of the way permissions
        # are delegated to secrets.GITHUB_TOKEN
        if: ${{ needs.determine_docker_version.outputs.build_docker_containers == 'true' && github.event_name != 'pull_request' }}
        with:
          context: docker/
          file: ./docker/Dockerfile.${{ matrix.os }}
          push: true
          tags: ${{ env.CONTAINER_NAME }}
          build-args: OS_VERSION=${{ matrix.version }}
