name: Build Windows Packages

on:
  # Run when called from other workflows
  workflow_call:
    inputs:
      package_complete_version:
        description: 'The output of the complete_version of the "determine_version" job from the build_and_release.yml workflow'
        required: true
        type: string
      release_id:
        description: 'The output of the "create_release" job from the build_and_release.yml workflow'
        required: true
        type: string

jobs:
  # Create the Windows installer
  Windows_MSVC_Packages:
    name: Create Windows installer with MSVC
    runs-on: windows-latest
    defaults:
      run:
        shell: powershell
    steps:
      - name: Checkout Git
        id: checkout_git
        uses: actions/checkout@v4
        with:
          path: performous


      - name: Setup our dev environment
        uses: ilammy/msvc-dev-cmd@v1

      - name: Setup ninja cmake generator
        uses: abdes/gha-setup-ninja@master

      - name: Download and build our dependencies using vcpkg
        uses: Lord-Kamina/vcpkg-action@update_cache
        with:
          pkgs: "\"aubio[core,tools]\" \"boost-algorithm[core]\" \"boost-align[core]\" \"boost-any[core]\" \"boost-array[core]\" \"boost-assert[core]\" \"boost-asio\" \"boost-atomic[core]\" \"boost-bind[core]\" \"boost-build[core]\" \"boost-chrono[core]\" \"boost-concept-check[core]\" \"boost-config[core]\" \"boost-container[core]\" \"boost-container-hash[core]\" \"boost-conversion[core]\" \"boost-core[core]\" \"boost-date-time[core]\" \"boost-detail[core]\" \"boost-dynamic-bitset[core]\" \"boost-exception[core]\" \"boost-function[core]\" \"boost-function-types[core]\" \"boost-fusion[core]\" \"boost-integer[core]\" \"boost-intrusive[core]\" \"boost-io[core]\" \"boost-iostreams[bzip2,core,lzma,zlib,zstd]\" \"boost-iterator[core]\" \"boost-lexical-cast[core]\" \"boost-locale[core]\" \"boost-move[core]\" \"boost-mp11[core]\" \"boost-mpl[core]\" \"boost-numeric-conversion[core]\" \"boost-optional[core]\" \"boost-predef[core]\" \"boost-preprocessor[core]\" \"boost-program-options[core]\" \"boost-random[core]\" \"boost-range[core]\" \"boost-ratio[core]\" \"boost-rational[core]\" \"boost-regex[core]\" \"boost-smart-ptr[core]\" \"boost-static-assert[core]\" \"boost-system[core]\" \"boost-thread[core]\" \"boost-throw-exception[core]\" \"boost-tokenizer[core]\" \"boost-tuple[core]\" \"boost-type-index[core]\" \"boost-type-traits[core]\" \"boost-typeof[core]\" \"boost-uninstall[core]\" \"boost-unordered[core]\" \"boost-utility[core]\" \"boost-variant2[core]\" \"boost-winapi[core]\" \"brotli[core]\" \"bzip2[core,tool]\" \"cairo[core,fontconfig,freetype,gobject]\" \"dirent[core]\" \"expat[core]\" \"ffmpeg[avcodec,avdevice,avfilter,avformat,core,swresample,swscale]\" \"fftw3[core]\" \"fmt[core]\" \"fontconfig[core]\" \"freetype[brotli,bzip2,core,png,zlib]\" \"fribidi[core]\" \"gdk-pixbuf[core]\" \"getopt[core]\" \"getopt-win32[core]\" \"gettext[core,tools]\" \"glib[core]\" \"glibmm[core]\" \"glm[core]\" \"gperf[core]\" \"gtest[core]\" \"harfbuzz[core]\" \"icu[*]\" \"cpprestsdk[brotli,compression,core]\" \"libcroco[core]\" \"libepoxy[core]\" \"libffi[core]\" \"libflac[core]\" \"libiconv[core]\" \"libjpeg-turbo[core]\" \"liblzma[core]\" \"libogg[core]\" \"libpng[core]\" \"libsigcpp[core]\" \"libsigcpp-3[core]\" \"libsndfile[core,external-libs,mpeg]\" \"libvorbis[core]\" \"libwebp[core,libwebpmux,nearlossless,simd,unicode]\" \"libxml2[core]\" \"libxmlpp[core]\" \"lzo[core]\" \"mp3lame[core]\" \"mpg123[core]\" \"nlohmann-json[core]\" \"openblas[core]\" \"opencv[core]\" \"opencv4[core,dnn,jpeg,png,quirc,tiff,webp]\" \"openssl[core]\" \"opus[core]\" \"pango[core]\" \"pcre[core]\" \"pcre2[core]\" \"pixman[core]\" \"pkgconf[core]\" \"portaudio[core]\" \"portmidi[core]\" \"protobuf[core]\" \"pthread[core]\" \"pthreads[core]\" \"quirc[core]\" \"sdl2[core]\" \"tiff[core,jpeg,lzma,zip]\"  \"yasm[core,tools]\" \"yasm-tool-helper[core]\" \"zlib[core]\" \"zstd[core]\" \"spdlog[core,fmt]\" \"libwebp[core]\""
          triplet: x64-windows-release
          extra-args: '--clean-after-build --overlay-triplets="${{ github.workspace }}\performous\cmake\triplets"'
          cache-key: win64-vcpkg
          debug: true
          # Get the sha from https://github.com/microsoft/vcpkg/releases
          revision: d2452281016c6d77b6ef199d599d9929eafe4807
          api-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install NSIS
        uses: repolevedavaj/install-nsis@v1.0.3
        with:
          nsis-version: '3.11'
      - name: Build modern librsvg with Cargo
        run: |
          cd ${{ github.workspace }}
          # Clone the librsvg repository
          git clone https://gitlab.gnome.org/GNOME/librsvg.git
          cd librsvg
          git checkout 2.61.3  # or the latest stable release

          # Ensure MSVC target is set
          rustup default stable
          rustup target add x86_64-pc-windows-msvc

          # Make sure pkg-config finds all vcpkg dependencies
          # WORKSPACE = D:\a\performous\performous\
          # VCPKG = $WORKSPACE/vcpkg/vcpkg.exe
          set PKG_CONFIG_PATH=${{ github.workspace }}\vcpkg\installed\x64-windows-release\lib\pkgconfig

          # Build librsvg with cargo for MSVC
          cargo build --release --target x86_64-pc-windows-msvc

          # Copy DLL and headers to a known location for CMake
          mkdir -p ${{ github.workspace }}/deps/librsvg
          copy target\release\librsvg-2.dll ${{ github.workspace }}/deps/librsvg/
          copy -Recurse include ${{ github.workspace }}/deps/librsvg/include
      - name: Run cmake to configure the project and build it
        env:
          PERFORMOUS_VERSION: ${{ inputs.package_complete_version }}
        run: |
          set VCPKG_BINARY_SOURCES="files,${{ github.workspace }}\vcpkg_cache,read"
          cd ${{ github.workspace }}/performous
          echo $PERFORMOUS_VERSION
          cmake --preset "windows-x64-debinfo" -DCMAKE_TOOLCHAIN_FILE="${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake" -DVCPKG_TARGET_TRIPLET=x64-windows-release -DVCPKG_OVERLAY_TRIPLETS="${{ github.workspace }}\performous\cmake\triplets"
          cmake --build --preset "windows-x64-debinfo"
      - name: Run unittests directly called.
        run: |
          cd "performous/build/windows-x64-debinfo/testing"
          ./performous_test.exe --gtest_filter=UnitTest*
      - name: Run unittests by ctest.
        run: |
          cd "performous/build/windows-x64-debinfo"
          ninja testing/test
      - name: Create Installer
        id: package_performous_x64
        run: |
          cd performous/build/windows-x64-debinfo
          cpack -G NSIS64 windows-x64-debinfo
          $MASTER_ARTIFACT_FILENAME = "Performous-master[${{ inputs.package_complete_version }}]-msvc.exe"
          $ARTIFACT_FILENAME = "Performous-${{ inputs.package_complete_version }}-msvc.exe"
          Copy-Item $(Get-ChildItem -Filter '*win64.exe').Name $MASTER_ARTIFACT_FILENAME
          Rename-Item $(Get-ChildItem -Filter '*win64.exe').Name -NewName $ARTIFACT_FILENAME
          chcp 65001 #set code page to utf-8
          echo ("ARTIFACT_PATH=${{ github.workspace }}/performous/build/windows-x64-debinfo/$ARTIFACT_FILENAME") >> $env:GITHUB_ENV
          echo ("ARTIFACT_FILENAME=$ARTIFACT_FILENAME") >> $env:GITHUB_ENV
          echo ("MASTER_ARTIFACT_PATH=${{ github.workspace }}/performous/build/windows-x64-debinfo/$MASTER_ARTIFACT_FILENAME") >> $env:GITHUB_ENV
          echo ("MASTER_ARTIFACT_FILENAME=$MASTER_ARTIFACT_FILENAME") >> $env:GITHUB_ENV

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: ${{ github.event_name == 'pull_request' }}
        with:
          name: ${{ env.ARTIFACT_FILENAME }}
          path: ${{ env.ARTIFACT_PATH }}

      - name: Upload artifact with unified name
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.MASTER_ARTIFACT_FILENAME }}
          path: ${{ env.MASTER_ARTIFACT_PATH }}

      - name: Upload artifacts to tagged release
        id: upload_assets
        if: ${{ github.event_name != 'pull_request' && github.ref_type == 'tag' }}
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_id: ${{ inputs.release_id }}
          file: ${{ env.ARTIFACT_PATH }}

  Windows_MinGW-w64_Packages:
    name: Create Windows installer with MinGW-w64
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Checkout Git
        id: checkout_git
        uses: actions/checkout@v4
        with:
          path: performous
      - name: Setup action env and echoing
        shell: bash
        run: |
          echo '::echo::on'
          echo 'action_echo=enabled' >> $GITHUB_OUTPUT
          echo workpath=$(echo '${{ github.workspace }}' | sed 's|\\|/|g') >> $GITHUB_ENV
      - name: Install MSYS2.
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: false
          location: "${{ env.workpath }}"
          install: >-
            git
            mingw-w64-x86_64-boost
            mingw-w64-x86_64-cairo
            mingw-w64-x86_64-cc
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-fftw
            mingw-w64-x86_64-fmt
            mingw-w64-x86_64-fontconfig
            mingw-w64-x86_64-gettext
            mingw-w64-x86_64-glm
            mingw-w64-x86_64-gtest
            mingw-w64-x86_64-icu
            mingw-w64-x86_64-libepoxy
            mingw-w64-x86_64-libjpeg-turbo
            mingw-w64-x86_64-libpng
            mingw-w64-x86_64-librsvg
            mingw-w64-x86_64-libsigc++
            mingw-w64-x86_64-libxml++
            mingw-w64-x86_64-libxml2
            mingw-w64-x86_64-make
            mingw-w64-x86_64-nsis
            mingw-w64-x86_64-nlohmann-json
            mingw-w64-x86_64-openblas
            mingw-w64-x86_64-opencv
            mingw-w64-x86_64-opencv
            mingw-w64-x86_64-pango
            mingw-w64-x86_64-portaudio
            mingw-w64-x86_64-portmidi
            mingw-w64-x86_64-SDL2
            mingw-w64-x86_64-spdlog
            mingw-w64-x86_64-winpthreads-git
            mingw-w64-x86_64-libwebp

      - name: Install FFmpeg 7 (pinned)
        shell: msys2 {0}
        run: |
          curl -LO https://repo.msys2.org/mingw/mingw64/mingw-w64-x86_64-ffmpeg-7.1.1-7-any.pkg.tar.zst
          pacman -U --noconfirm mingw-w64-x86_64-ffmpeg-7.1.1-7-any.pkg.tar.zst

      - name: Run cmake to configure the project and build it
        env:
          PERFORMOUS_VERSION: ${{ inputs.package_complete_version }}
        shell: msys2 {0}
        run: |
          cd "${{ env.workpath }}/performous"
          mkdir build
          for f in $(ls -Q ./lang/*.po); do mkdir -pv "./build/lang/$(basename $f | cut -d. -f1)/LC_MESSAGES";done
          cd build
          "${{ env.workpath }}/msys64/mingw64/bin/cmake.exe" -G "MinGW Makefiles" .. -DCMAKE_BUILD_TYPE="RelWithDebInfo" -DSELF_BUILT_AUBIO=ALWAYS -DSELF_BUILT_CED=ALWAYS -DENABLE_WEBSERVER=OFF \
          -DPERFORMOUS_VERSION=${{ env.PERFORMOUS_VERSION }} -DBUILD_TESTS=ON \
          -DCMAKE_VERBOSE_MAKEFILE=ON -DCPACK_MINGW_SYSTEM_PREFIX="${{ env.workpath }}/msys64/mingw64"
          "${{ env.workpath }}/msys64/mingw64/bin/cmake.exe" --build ./ --verbose --parallel 3
      - name: Run unittests directly called.
        shell: msys2 {0}
        run: |
          cd "${{ env.workpath }}/performous/build/testing"
          ./performous_test.exe --gtest_filter=UnitTest*
      - name: Run unittests by ctest.
        shell: msys2 {0}
        run: |
          cd "${{ env.workpath }}/performous/build"
          "${{ env.workpath }}/msys64/mingw64/bin/mingw32-make.exe" test
      - name: Create Installer
        id: package_performous_x64
        shell: msys2 {0}
        run: |
          cd "${{ env.workpath }}/performous/build"
          "${{ env.workpath }}/msys64/mingw64/bin/cpack.exe" -G NSIS64 -DCPACK_MINGW_SYSTEM_PREFIX="${{ env.workpath }}/msys64/mingw64" -DCPACK_NSIS_EXECUTABLE="${{ env.workpath }}/msys64/mingw64/bin/makensis.exe" -DCMAKE_BUILD_TYPE="RelWithDebInfo" --verbose
          MASTER_ARTIFACT_FILENAME="Performous-master[${{ inputs.package_complete_version }}]-mingw-w64.exe"
          ARTIFACT_FILENAME="Performous-${{ inputs.package_complete_version }}-mingw-w64.exe"
          powershell -command "Copy-Item \$(Get-ChildItem -Filter '*win64.exe').Name '${MASTER_ARTIFACT_FILENAME}'"
          powershell -command "Rename-Item \$(Get-ChildItem -Filter '*win64.exe').Name -NewName '${ARTIFACT_FILENAME}'"
          powershell -command "echo ('ARTIFACT_PATH=${{ env.workpath }}/performous/build/${ARTIFACT_FILENAME}') >> \$env:GITHUB_ENV"
          powershell -command "echo ('ARTIFACT_FILENAME=${ARTIFACT_FILENAME}') >> \$env:GITHUB_ENV"
          powershell -command "echo ('MASTER_ARTIFACT_PATH=${{ env.workpath }}/performous/build/${MASTER_ARTIFACT_FILENAME}') >> \$env:GITHUB_ENV"
          powershell -command "echo ('MASTER_ARTIFACT_FILENAME=${MASTER_ARTIFACT_FILENAME}') >> \$env:GITHUB_ENV"
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: ${{ github.event_name == 'pull_request' }}
        with:
          name: ${{ env.ARTIFACT_FILENAME }}
          path: ${{ env.ARTIFACT_PATH }}

      - name: Upload artifact with unified name
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.MASTER_ARTIFACT_FILENAME }}
          path: ${{ env.MASTER_ARTIFACT_PATH }}

      - name: Upload artifacts to tagged release
        id: upload_assets
        if: ${{ github.event_name != 'pull_request' && github.ref_type == 'tag' }}
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_id: ${{ inputs.release_id }}
          file: ${{ env.ARTIFACT_PATH }}
